
    .center {
        text-align: center;
        }
    
        ul {
            list-style: none;
            padding: 0;
        }
    
        img {
            display: inline;
            width: 200px;
            height: 100%;
        }
    
        #footer {
            width: 100%;
            border-top: solid 2px black;
            background-color: white;
            position: fixed;
            margin: auto;
            bottom: 0;
        }
    
        #parent-input {
            width: 160px;
            margin: 5% auto 50px;
            position: relative;
        }
    
        #player-input{
            border-radius: 50%;
            width: 160px;
            height: 160px;
            font-size: 60px
        }
    
        #submit{
            border-radius: 50%;
            width: 60px;
            height: 60px;
            position: absolute;
            top: 110px;
            left: 110px;
        }
    
        .guess {
    
            display: inline;
            font-size: 60px;
            border: 1px solid black;
            padding: 0 25px;
            border-radius: 10%;
            
            font: 60px arial, sans-serif;
            margin: 5% auto 40px;
        }
    
        body {
            /* background-image: url('../img/question-marks-bw.jpg'); */
        }
    
        #app{
    
            width: 60%;
            margin: 50px auto;
            background-color: rgba(256,256,256, 0.5);
    
        }
    
        .shadow {
            box-shadow: 2px 2px 3px blue;
        }
    
        html {
            box-sizing: 'border-box';
        }